services:
  ros2:
    build:
      context: .
      dockerfile: ubuntu22_ROS2.dockerfile
    image: ubuntu2204-ros2-humble
    container_name: ros2_gazebo_dev
    network_mode: host
    environment:
      - DISPLAY=${DISPLAY}
      - XAUTHORITY=/tmp/.docker.xauth
      - QT_X11_NO_MITSHM=1
      - LIBGL_ALWAYS_INDIRECT=0

      # ROS 2 DDS settings (must match bridge)
      - RMW_IMPLEMENTATION=rmw_cyclonedds_cpp
      - ROS_LOCALHOST_ONLY=1
      - ROS2_DISABLE_DAEMON=1
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix
      - /tmp/.docker.xauth:/tmp/.docker.xauth:ro
      - ~/ros2_ws:/root/ws

    devices:
      - /dev/dri:/dev/dri
    group_add:
      - video
      - render

    stdin_open: true
    tty: true

  gazebo:
    image: ubuntu2204-ros2-humble
    container_name: gz
    network_mode: host
    environment:
      - DISPLAY=${DISPLAY}
      - XAUTHORITY=/tmp/.docker.xauth
      - QT_X11_NO_MITSHM=1
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix
      - /tmp/.docker.xauth:/tmp/.docker.xauth:ro
    devices:
      - /dev/dri:/dev/dri
    group_add:
      - video
      - render
    command: bash -lc "ign gazebo -v 4 -r"


  bridge:
    image: ubuntu2204-ros2-humble
    container_name: ros_gz_bridge
    network_mode: host
    restart: unless-stopped
    command: |
      bash -lc "
      source /opt/ros/humble/setup.bash &&
      export RMW_IMPLEMENTATION=rmw_cyclonedds_cpp &&
      export ROS_LOCALHOST_ONLY=1 &&
      export ROS2_DISABLE_DAEMON=1 &&
      until ign topic -l | grep -q '/model/tugbot/pose'; do
        echo '[bridge] waiting for tugbot model...'
        sleep 1
      done && \
      ros2 run ros_gz_bridge parameter_bridge /world/world_demo/clock@rosgraph_msgs/msg/Clock[gz.msgs.Clock /model/tugbot/cmd_vel@geometry_msgs/msg/Twist]gz.msgs.Twist /model/tugbot/odometry@nav_msgs/msg/Odometry[gz.msgs.Odometry /model/tugbot/pose@geometry_msgs/msg/Pose[gz.msgs.Pose /model/tugbot/tf@tf2_msgs/msg/TFMessage[gz.msgs.Pose_V /model/tugbot/battery/linear_battery/state@sensor_msgs/msg/BatteryState[gz.msgs.BatteryState /world/world_demo/model/tugbot/joint_state@sensor_msgs/msg/JointState[gz.msgs.Model /world/world_demo/model/tugbot/link/imu_link/sensor/imu/imu@sensor_msgs/msg/Imu[gz.msgs.IMU /world/world_demo/model/tugbot/link/camera_back/sensor/color/camera_info@sensor_msgs/msg/CameraInfo[gz.msgs.CameraInfo /world/world_demo/model/tugbot/link/camera_back/sensor/color/image@sensor_msgs/msg/Image[gz.msgs.Image /world/world_demo/model/tugbot/link/camera_back/sensor/depth/camera_info@sensor_msgs/msg/CameraInfo[gz.msgs.CameraInfo /world/world_demo/model/tugbot/link/camera_back/sensor/depth/depth_image@sensor_msgs/msg/Image[gz.msgs.Image /world/world_demo/model/tugbot/link/camera_back/sensor/depth/depth_image/points@sensor_msgs/msg/PointCloud2[gz.msgs.PointCloudPacked /world/world_demo/model/tugbot/link/camera_front/sensor/color/camera_info@sensor_msgs/msg/CameraInfo[gz.msgs.CameraInfo /world/world_demo/model/tugbot/link/camera_front/sensor/color/image@sensor_msgs/msg/Image[gz.msgs.Image /world/world_demo/model/tugbot/link/camera_front/sensor/depth/camera_info@sensor_msgs/msg/CameraInfo[gz.msgs.CameraInfo /world/world_demo/model/tugbot/link/camera_front/sensor/depth/depth_image@sensor_msgs/msg/Image[gz.msgs.Image /world/world_demo/model/tugbot/link/camera_front/sensor/depth/depth_image/points@sensor_msgs/msg/PointCloud2[gz.msgs.PointCloudPacked /world/world_demo/model/tugbot/link/scan_front/sensor/scan_front/scan@sensor_msgs/msg/LaserScan[gz.msgs.LaserScan /world/world_demo/model/tugbot/link/scan_front/sensor/scan_front/scan/points@sensor_msgs/msg/PointCloud2[gz.msgs.PointCloudPacked /world/world_demo/model/tugbot/link/scan_back/sensor/scan_back/scan@sensor_msgs/msg/LaserScan[gz.msgs.LaserScan /world/world_demo/model/tugbot/link/scan_back/sensor/scan_back/scan/points@sensor_msgs/msg/PointCloud2[gz.msgs.PointCloudPacked /world/world_demo/model/tugbot/link/scan_omni/sensor/scan_omni/scan@sensor_msgs/msg/LaserScan[gz.msgs.LaserScan /world/world_demo/model/tugbot/link/scan_omni/sensor/scan_omni/scan/points@sensor_msgs/msg/PointCloud2[gz.msgs.PointCloudPacked /model/pallet_box/pose@geometry_msgs/msg/Pose[gz.msgs.Pose /model/pallet_box_0/pose@geometry_msgs/msg/Pose[gz.msgs.Pose /model/pallet_box_mobile/pose@geometry_msgs/msg/Pose[gz.msgs.Pose /model/pallet_box_mobile_0/pose@geometry_msgs/msg/Pose[gz.msgs.Pose /model/pallet_box_mobile_1/pose@geometry_msgs/msg/Pose[gz.msgs.Pose
      "
    depends_on:
      - gazebo

  rviz:
    image: ubuntu2204-ros2-humble
    container_name: rviz
    network_mode: host
    environment:
      - DISPLAY=${DISPLAY}
      - QT_X11_NO_MITSHM=1
      - QT_QPA_PLATFORM=xcb
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix:rw
    devices:
      - /dev/dri:/dev/dri
    command: >
      bash -lc '
      source /opt/ros/humble/setup.bash;
      export RMW_IMPLEMENTATION=rmw_cyclonedds_cpp;
      export ROS_LOCALHOST_ONLY=1;
      export ROS2_DISABLE_DAEMON=1;

      echo "[rviz] waiting for /world/world_demo/clock ...";
      until ros2 topic list | grep -q "^/world/world_demo/clock$"; do sleep 1; done;

      echo "[rviz] waiting for /model/tugbot/tf ...";
      until ros2 topic list | grep -q "^/model/tugbot/tf$"; do sleep 1; done;

      exec rviz2 --ros-args
        -p use_sim_time:=true
        -r /clock:=/world/world_demo/clock
        -r /tf:=/model/tugbot/tf
      '