services:
  ros2:
    build:
      context: .
      dockerfile: ubuntu22_ROS2.dockerfile
    image:
     ubuntu2204-ros2-humble
    container_name: ros2_gazebo_dev
    network_mode: host
    environment:
      - DISPLAY=${DISPLAY}
      - QT_X11_NO_MITSHM=1
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix
      - ~/ros2_ws:/root/ws
    stdin_open: true
    tty: true
